/*! _setting-a11y.css © yamoo9.net, 2016 */

/* --------------------------------------------------------------------------------- *
 * 접근성(Accessibility) 설정
 * 포커스 요소에 포커스 상태 표시 설정
 * 본문 바로 가기(Skip to Content) 설정
 * --------------------------------------------------------------------------------- */

a:hover, a:active {
  outline: none;
}

/* 
 * tabindex : the order of the tab focus;
 * focus가 되었을 때 포커스를 어떻게 보여줄지
 * outline을 3px 노란색 선으로 보여짐
 * // ouline-width의 정체는 무엇인가?
 * // outline-offset의 정체는 무엇인가?
*/
a:focus, [tabindex="0"]:focus, input:focus, textarea:focus, button:focus, select:focus {
  outline: 3px solid #ff0;
  outline-width: 0.1875rem;
}
a:focus, [tabindex="0"]:focus {
  outline-offset: 3px;
  outline-offset: 0.1875rem;
}

/* --------------------------------------------------------------------------------- */

.skip-to-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.skip-to-content > li::before {
  content: none;
}

/*
 * tab focus해서 content로 바로 이동하는 것 디자인 : naver tab시 위에 검정색 박스 뜨던거
 * position을 absolute로 뒀고, 따로 부모요소에 position 값을 준 것이 없으니 -> html요소를 기준으로 절대이동
 * 얘는 다른 곳으로 이동해주는 애니까 a요소 사용, 원래는 top: -10em;에 숨어있다가, focus를 받으면 top: 0;으로 이동
*/
.skip-to-content a {
  position: absolute;
  z-index: 10000;
  top: -10em;
  padding: 0.5em 0.75em;
  color: #fff;
  background-color: #000;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}
.skip-to-content a:focus {
  top: 0;
}
