/* RESPONSIVE GRID DESIGN */

* {
	margin: 0;
	box-sizing: border-box;
}

[class*=col] {
	float: left;
}

.row::after {
	content: '';
	display: block;
	clear: both;
}

.gutter {
	padding-left: 5px;
	padding-right: 5px;
}


/* MEDIA QUERY */

@media screen and (max-width: 599px) {
	.s-container {
		width: 90%;
		margin: 1rem auto;
	}
	.col-s-1-4 { width: 25%; }
	.col-s-1-2 { width: 50%; }
	.col-s-1-3 { width: 33.33%; }
	.col-s-2-3 { width: 66.66%; }
	.col-s-3-4 { width: 75%; }
	.col-s-4-4 { width: 100%; }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
	.m-container {
		width: 80%;
		margin: 1rem auto;
	}
	.col-m-1 { width: 12.5%; }
	.col-m-2 { width: 25%; }
	.col-m-3 { width: 37.5%; }
	.col-m-4 { width: 50%; }
	.col-m-5 { width: 62.5%; }
	.col-m-6 { width: 75%; }
	.col-m-7 { width: 87.5%; }
	.col-m-8 { width: 100%; }
}

@media screen and (min-width: 960px) {
	.l-container {
		width: 80%;
		margin: 1rem auto;
	}
	.col-l-1 { width: 8.33%; }
	.col-l-2 { width: 16.66%; }
	.col-l-3 { width: 24.99%; }
	.col-l-4 { width: 33.32%; }
	.col-l-5 { width: 41.65%; }
	.col-l-6 { width: 49.98%; }
	.col-l-7 { width: 58.31%; }
	.col-l-8 { width: 66.64%; }
	.col-l-9 { width: 74.97%; }
	.col-l-10 { width: 83.3%; }
	.col-l-11 { width: 91.63%; }
	.col-l-12 { width: 100%; }
}