/* STYLE DESIGN */

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
}

/* settings-image */
img {
  border: 0;
  vertical-align: middle;
}

.rwd-image, .img-flex {
  display: block;
  width: 100%;
  height: auto;
}

.image-replacement, .ir {
  overflow: hidden;
  direction: ltr;
  text-align: left;
  text-indent: 100%;
  white-space: nowrap;
}

/* index.html */

.brand {
	color: #fff;
	display: flex;
	align-items: center;
    justify-content: center;
}

.brand {
	height: 100vh;
}

.background {
	background: #fff url(../asset/bg-sf.jpg) no-repeat fixed bottom center; 
	background-size: cover;
}

/* MEDIA QUERY */
@media screen and (max-width: 799px) {
	.brand {
		visibility: hidden;
	}
	#hidden-menu {
		position: fixed;
		top: 2rem;
		left: 5%;
		color: #222;
		font-size: 1.7rem;
    	font-weight: bold;
    	z-index: 10000;
	}
	#hidden-menu:hover {
    	cursor: pointer;
	}
	#article #hidden-menu {
		color: #fff;
	}
	.menu-button {
		display: none;
	}
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
	.brand {
		font-size: 10rem;
	}
	#myNav {
		display: none;
	}
	#hidden-menu {
		display: none;
	}
	.menu-button {
		position: fixed;
		top: 50%
	}
	.menu-button.left {
		left: 3%
	}
	.menu-button.right {
		right: 3%;
	}
}

@media screen and (min-width: 1024px) {
	.brand {
		font-size: 15rem;
	}
	#myNav {
		display: none;
	}
	#hidden-menu {
		display: none;
	}
	.menu-button {
		position: fixed;
		top: 50%
	}
	.menu-button.left {
		left: 3%
	}
	.menu-button.right {
		right: 3%;
	}
}
